.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  padding: 0;
}

.content {
  flex: 1;
}

body {
  font-family: "Gudea", sans-serif;
  background-color: #282828;
  color: #fff;
}

::-moz-selection {
  background-color: #e8c045;
  color: #fff;
}

::selection {
  background-color: #e8c045;
  color: #fff;
}

p,
footer {
  font-size: 120%;
}

nav {
  font-size: 115%;
}

nav .fa {
  margin-right: 5px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
}

a,
.btn {
  transition: 0.15s;
}

.btn.btn-xl {
  color: #333;
}

.container-fluid:first-of-type {
  margin-top: 50px;
}

.video-vide {
  height: 100vh;
  margin-bottom: 70px;
}

.video-vide-filter {
  height: 100vh;
  width: calc(100vw - 17px);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.video-vide-description {
  position: absolute;
  top: 0;
  left: calc(50% - 60vw / 2);
  height: 100vh;
  width: 60vw;
  margin: 40vh auto 0 auto;
  text-align: center !important;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

@media (max-width: 1023px) {
  .video-vide-description {
    left: calc(50% - 90vw / 2);
    width: 90vw;
  }
}

.video-vide-description h1 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #e8c045;
}

.video-vide-description p {
  font-size: 23px;
}

@media (max-width: 991px) {
  .video-vide-description p {
    font-size: 16px;
  }
}

.btn-primary {
  background-color: #e8c045;
  color: #000;
  border: none;
  text-align: center;
}

.btn-primary:hover {
  background-color: #f9d66c;
  color: #000;
}

.btn-primary:active {
  background-color: #d8b035 !important;
  color: #000 !important;
}

.margin-top {
  margin-top: 75px;
}

.navbar-brand {
  background-image: url("../img/logo.png");
  width: 102px;
  background-repeat: no-repeat;
  background-size: 80px;
  background-position: 20px;
  margin-right: 30px;
}


footer {
  padding: 25px 0;
  margin-top: 0px;
  text-align: center;
  color: #aaa;
  height: 90px;
}

footer ul.quicklinks {
  margin-bottom: 0;
}

.footer-background {
  background-color: #111;
}
ul.social-buttons {
  margin-bottom: 0;
}
ul.social-buttons li a {
  display: block;
  background-color: #222222;
  height: 40px;
  width: 40px;
  border-radius: 100%;
  font-size: 20px;
  line-height: 40px;
  color: white;
  outline: none;
  transition: all 0.3s;
}

ul.social-buttons li a:hover,
ul.social-buttons li a:focus,
ul.social-buttons li a:active {
  background-color: #e8c045;
}

section#contact{
  margin-bottom: 40vh;
}

.dropdown-menu {
  text-align: center;
  min-width: 30px;
  background-color: #333;
  color: #fff;
}

.dropdown-menu a:hover,
.dropdown-menu a:focus {
  background-color: #444 !important;
}

h2{
  color: #e8c045;
}

.image-center{
  display: flex;
  align-items: center;
  justify-content:
}

.copyright{
  margin-top: 10px;
}
