body {
  font-family: "Segoe UI", "San Francisco", sans-serif;
}

nav {
  font-size: 110%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
}

.container-fluid:first-of-type {
  margin-top: 50px;
}
