body {
  font-family: "Segoe UI", "San Francisco", sans-serif;
}

nav {
  font-size: 110%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Russo One", sans-serif;
  text-transform: uppercase;
}

.container-fluid:first-of-type {
  margin-top: 50px;
}

.video-vide {
  height: 100vh;
  margin-bottom: 70px;
}

.video-vide-filter {
  height: 100vh;
  width: calc(100vw - 17px);
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
}

.video-vide-description {
  position: absolute;
  top: 0;
  left: calc(50% - 90vw / 2);
  height: 100vh;
  width: 90vw;
  margin: 40vh auto 0 auto;
  text-align: center !important;
  color: #fff;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
}

.video-vide-description h1 {
  font-size: 40px;
  margin-bottom: 40px;
  color: #e8c045;
}

.video-vide-description p {
  font-size: 23px;
}
